body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    scroll-behavior: smooth;
}
/* the header and navbar */
.main-bg{
    background-image: url(http://frontend.projects-amit-learning.com/images/shape-a.png);
    background-size: cover;
    background-color: #F7F9FE;
    padding-bottom: 50px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
}

 .scnd-bg{
    background-color: #476bb4 !important;
 }
.navFlex{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.navFlex .logo{
    width: 25%;
}
.navFlex2{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
position: static;
height: 70px;
width: 100%;
padding-right: 20%;
padding-left: 20%;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.navFlex2 li a{
    font-size: 14px;
}
.navbar{
    padding: 0;
}
#navbar ul a:hover{
color: #2a81ea !important;
}
/* about corona duv  */
#AboutCorona{
    padding: 80px 80px;
}
#AboutCorona p span {
font-weight: bold;
}
#AboutCorona p {
    color: #3d4b69;
    margin-bottom: 20px;
    line-height: 1.5em;
    text-align: left;
}
#AboutCorona ul{
    border: 1px solid #e7e8ff;
    list-style: none;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
}
#AboutCorona li {
    text-align: left;
    border-bottom: 1px solid #e7e8ff;
    padding: 20px 30px;
    font-weight: bold;
    color: #465675;
    font-size: 20px;
}
#AboutCorona ul a li {
    display: flex;
    justify-content: space-between;
    color: #2a81ea;
    font-weight: normal;
    font-size: 16px;
}
#AboutCorona ul a{
text-decoration: none;
}
/* spread div  */
.spread-bg{
    background-color: #F7F9FE;
    padding: 80px 80px ;
    text-align: center;
}

#Spread h3{
    color: #2a81ea;
    font-size: 18px;
    margin-bottom: 7px;
}
#Spread div div p{
    color: #3d4b69;
    margin-bottom: 60px;
    line-height: 1.5em;
}
#Spread img{
    width: 100%;
    border-bottom: 6px solid #9cc2f7;
}
#Spread .box{
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 5px;
    margin: 0 auto 50px;
}
/* symptoms div  */
#Symptoms{
    padding: 80px 80px ;
}
#Symptoms h3{
    color: #2a81ea;
    margin-bottom: 10px;
    font-size: 16px;
    padding-top: 15px;
}
#Symptoms p{
    color: #3d4b69;
    margin-bottom: 60px;
    line-height: 1.5em;
}
#Symptoms .box2{
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 15%);
    position: relative;
    border-bottom: 3px solid #fff;
    border-radius: 5px;
    margin: 0 auto 100px;
}
#Symptoms .box2 p{
    color: #3d4b69;
    line-height: 1.5em;
}
#Symptoms .box2 p span{
    font-weight: bold;
}
#Symptoms img{
    width: 80px;
    position: absolute;
    top: -20%;
    right: 9%;
}
#Symptoms .warnFlex{
display: flex;
flex-direction: row;
}
#Symptoms .warnFlex svg{
width: 10%;
}
#Symptoms .warnFlex p{
    color: #3d4b69;
    line-height: 1.5em;
    font-style: italic;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 0;
    width: 70%;
}
#Symptoms .warnFlex a{
    padding-top: 12px;
    width: 20%;
}
#Symptoms .warnFlex p span{
    color: #2a81ea;
    font-weight: bold;
    font-style: normal;
}
/* prevention div  */
#Prevention{
    background-color: #F7F9FE;
    padding: 80px 80px ;
    text-align: center;
}
#Prevention p span{
    font-weight: bold;
}
#Prevention .rowOfImgs img, #Prevention #hands img{
width: 140px;
height: 140px;
margin-bottom: 20px;
}
#Prevention .rowOfImgs{
padding-top: 50px ;
padding-bottom: 100px;
}
#Prevention .whiteContainer{
margin-top: 100px ;
background-color: white;
text-align: start;
}
#Prevention .whiteContainer img{
height: 90%;
}
#Prevention .whiteContainer .row{
padding: 20px;
padding-bottom: 0;
}
#Prevention ul{
    color: #3d4b69;
}
#Prevention ul li{
padding-bottom: 5px;
}
#Prevention #hands{
padding-top: 40px;
}
#Prevention #hands .col-12 .row{
padding-top: 20px;
}
#Prevention #hands .col-12 .row p{
    color: #3d4b69;
}
/* treatment div  */
#Treatment{
    padding: 100px 100px ;
    background-color: #2766bb;
    background-image: url(http://frontend.projects-amit-learning.com/images/shape-a.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#Treatment h5{
    color: #73e3ff;
}
#Treatment h2{
    color: #ffff;
}
#Treatment .parag{
    color: #ced4ff;
    line-height: 1.5rem;
}
#Treatment p span{
    color: #ffff;
}
#Treatment #darker_container{
    background-color: #1b47a1;
}
#Treatment #darker_container .inner_content{
    color: #ffff;
    padding: 20px;
}
/* do & don't div  */
#dodont{
    background-color: #f7f9fe;
    padding: 80px 80px;
    text-align: center;
}
#dodont img{
    width: 100%;
}
#dodont p{
    color: #2a81ea;
    font-weight: bold;
    font-size: 14px;
}
#dodont .gpOfImgs{
    padding-top: 90px;
}
#dodont .gpOfImgs .pad{
    padding-top: 40px;
}
#dodont .gpOfImgs .smallImgs img{
    width: 80px;
    height: 84px;
    border: 2px solid #2a81ea;
    background-color: #fff;
}

#dodont .gpOfImgs .smallImgs .box3{
    width: 100px;
    position: relative;
}
#dodont .gpOfImgs .smallLeftImgs svg{
    position: absolute;
    left: 20%;
    top: -1%;
}
#dodont .gpOfImgs .smallRightImgs svg{
    position: absolute;
    right: 15%;
    top: -1%;
}
/* FAQ div  */
#FAQ{
    padding: 80px 80px;
    text-align: center;
}
#FAQ ul li p{
margin: 0;
}
#FAQ ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 2px solid #e7e8ff;
    color: #50658e;
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    width: 93%;
    cursor: pointer;
}
#FAQ ul li:hover{
    color: #2a81ea;
    border-color: #2a81ea;
}
.button-style{
    width: 100%;
    background-color: #f7f9fe;
    height: 55px;
}
.button-style-onclick{
    width: 100%;
    background-color: #ffff;
    height: 55px;
}
.font-button{
    color: #465675;
    font-size: 16px;
    font-weight: 750;
    cursor: pointer;
}
.font-button:hover{
        color: #2a81ea; 
}
.icon-resize{
    width: 34px;
    height: 34px;
}
.padding-botton{
    padding-top: 12px;
}
.link-style2{
    text-decoration: none;
}
.font-style{
    font-weight: 550;
}
#div-1{
    display: block;
}
.div-hide{
    display: none;
}
.button-style2{
    width: 100%;
    background-color: #f7f9fe;
}
.font-style2{
color: #2a81ea;
}
.button-1-style{
    color: #2a81ea;
    border-color: #2a81ea;
}
/* news div  */
#news{
    padding: 80px 80px;
    text-align: center;
    background-color: #f7f9fe;
}
#news img{
    width: 100%;
}
.box4{
    margin: 0 auto 50px;
    height: 90%;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 40px 0px rgb(80 101 142 / 8%);
}
/* footer div  */
#footer{
    padding: 80px 80px;
    background-color: #151c2e;
    background-image: url(http://frontend.projects-amit-learning.com/images/shape-a.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #b2bfe0;
}
#footer ul li{
    list-style: none;
    margin-bottom: 20px;
}
#footer ul li a{
    text-decoration: none;
    color: #b2bfe0;
}
#footer h2{
    font-size: 28px;
    color: #fff;
    font-weight: 900;
    margin:0;
    margin-bottom: 20px;
}
#footer h5{
    color: #fff;
    margin-bottom: 30px;
}

#footer .number{
    color: #4B6691;

}
.footer-copyright p{
    color: #b2bfe0;
    font-size: 13px;
    line-height: 1.5em;
}
#footer .row p span{
    color: #ffff;
}
.footer-copyright{
    padding: 40px;
}
.footer-copyright a{
    text-decoration: none;
    color: #b2bfe0;
    font-size: 15px;
}
.footer-text{
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(247, 248, 255, 0.1);
}
/* go uo button  */
#goUp{
    display: none;
    position: fixed;
    padding: 2px;
    right: 2.5%;
    bottom: 3.5%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background-color: #2b56f5;
    color: white;
    border-radius: 50%;
}
#goUp .svg-inline--fa{
    vertical-align: -0.125em;
    font-size: 10px;
    
}
/* media query for navbar  */
@media screen and (max-width: 990px) {
    .navFlex2{
        padding-left: 5px !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: static;
        height: 100vh;
        width: 50%;
        background-color: white;
        padding-bottom: 20px;
        margin-left: 0;
        padding-left: 0;
    }
    .navFlex2 li{
        padding-top: 14% !important;
    }
    #Symptoms .warnFlex{
        display: flex;
        height: 250px;
        justify-content: center;
        align-content: space-between;
        flex-wrap: wrap;
    }
        #Symptoms .warnFlex svg{
        display: inline;
        }
        #Symptoms .warnFlex p{
            color: #3d4b69;
            line-height: 1.5em;
            font-style: italic;
            text-align: left;
            padding-left: 10px;
            margin-bottom: 0;
            display: inline;
        }
        #Symptoms .warnFlex a{
            width: 70%;
        }
}
.navbar-light{
    color: #50658e;}
.navbar-light .navbar-nav .nav-link.active{
    color: #50658e;
}
/* icons */
.icon1, .icon2, .icon3, .icon4, .icon5, .icon6,.icon7,.icon8{
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
    width: 1em;
    padding: 0 !important; 
    margin: 0 !important;
}
.icon1{
    color: #FF5363;
}
.icon5{
    height: 3em;
    width: 3em;
    color: #2a81ea;
}
.icon6{
    color: rgb(82, 163, 82);
}
.icon7{
    color: #f86168;
    background-color: white;
    font-size: 21px;
}
.icon8{
    color: #3dca93;
    background-color: white;
    font-size: 21px;
}
.icon9{
    background-color: #50658e;
    border-radius: 100%;
    margin-right: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 19px;

}
/* colors  */
.browncolor{
    color: #7d92bb;
}
/* tags */
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 900;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.btnBigBold{
    font-size: 20px;
    font-weight: bold;
}
ul{
    padding-left: 0;
}
/* texts */
.text1{
    font-size: 3.8rem;
    font-weight: 900;
    color: #50658e;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding-top: 6vh;
}
.text2{
    font-size: 1.6rem;
    color: #FF5363;
    font-family: 'Oswald', sans-serif;
    padding-top: 7vh;
    padding-bottom: 0;
    margin: 0;
    font-weight: 800;
}
.text3{
    font-size: 2.3rem;
    color: #50658e;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding-top: 0;
    padding-bottom: 7vh;
}
.text4{
    letter-spacing: 0.04em;
    color: #465675;
    font-size: 1.8rem;
    font-weight: 900;
    font-style: normal;
}
.text5{
    color: #50658e;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.text6{
    color: #2a81ea;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
}
.text7{
    color: #50658e;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

